@mixin edges($top: 0, $bottom: 0, $left: 0, $right: 0) {
    top: $top;
    bottom: $bottom;
    left: $left;
    right: $right;
    @content;
}

@mixin expand() {
    width: 100%;
    height: 100%;
    @content;
}

@mixin flex($flex-wrap: wrap, $flex-direction: row, $align-items: center, $justify-content: center, $gap: 0) {
    display: flex;
    flex-wrap: $flex-wrap;
    flex-direction: $flex-direction;
    align-items: $align-items;
    justify-content: $justify-content;
    gap: $gap;
    @content;
}
