*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all $duration ease-out;
}

html,
body,
* {
    font-size: $edge_font_size;
    line-height: $edge_line_height;
}

button,
input {
    outline: none;
    border: none;

    &:focus {
        outline: none;
    }
}
