// *,
// *::after,
// *::before {
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
//     transition: all $duration ease-out;
//     font-size: $edge_font_size;
//     line-height: $edge_line_height;
// }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all $duration ease-out;
    font-size: $edge_font_size;
    line-height: $edge_line_height;
}

// html,
// body,
// * {
//     font-size: $edge_font_size;
//     line-height: $edge_line_height;
// }

button,
input {
    outline: none;
    border: none;

    &:focus {
        outline: none;
    }
}

button {
    background-color: transparent;
    cursor: pointer;
}

a {
    text-decoration: none;

    &:visited {
        color: $secondary-color;
    }

    &:hover {
        text-decoration: underline;
    }
}

ul {
    li {
        list-style: none;
    }
}

// *************************************** Img
.err {
    display: inline-block;
    text-align: center;
    position: relative;

    &::before {
        content: "";
        width: 100%;
        height: calc(100% + 5px);
        background-color: #ccc;
        border-radius: $br-rounded-sm;
        position: absolute;
        top: 55%;
        left: -1px;
        transform: translateY(-50%);
    }

    &::after {
        content: "&#9888;";
        color: $red;
        display: block;
        position: absolute;
        z-index: 2;
        top: 5px;
        width: 100%;
        height: 100%;
    }
}

img {
    @extend .err;
}
