.expand {
    @include expand;
}

.overlay {
    @include edges {
        position: absolute;
    }
}

.app-border {
    // @include shadow($blur: 1px, $spread: 1px, $color: hsla(0, 0%, 0%, 0.3));
    border: 1px solid #0000004d;
}

.disabled-link {
    pointer-events: none !important;
}

/* ******************************** Helper classes ******************************** */

$colors: (
    "green": green,
    "red": red,
    "blue": blue,
    "pink": pink,
    "black": black,
    "yellow": yellow,
    "orange": orange,
);

@each $name, $color in $colors {
    .br-#{$name} {
        border: 1px solid $color;
    }

    .bg-#{$name} {
        background-color: $color;
    }
}

/* ******************************** Profile classes ******************************** */

.show-up-and-fade {
    transition: all $duration * 0.5 ease-out;

    &__entering {
        transform: translateY(25px);
        opacity: 0;
    }

    &__entered {
        opacity: 1;
    }

    &__exiting {
        opacity: 1;
    }

    &__exited {
        opacity: 0;
    }
}

/* ******************************** Icon classes ******************************** */
.icon {
    @include flex;
    position: relative;
    cursor: pointer !important;

    .icon-inner {
        // border: 1px solid white;
    }

    &::before {
        content: " ";
        @include edges;
    }
}
