.expand {
    @include expand;
}

.overlay {
    @include edges {
        position: absolute;
    }
}

.app-border {
    // @include shadow($blur: 1px, $spread: 1px, $color: hsla(0, 0%, 0%, 0.3));
    border: 1px solid #0000004d;
}

.disabled-link {
    pointer-events: none !important;
}

/* ******************************** Helper classes ******************************** */

$colors: (
    "green": green,
    "red": red,
    "blue": blue,
    "pink": pink,
    "black": black,
    "yellow": yellow,
    "orange": orange,
);

@each $name, $color in $colors {
    .br-#{$name} {
        border: 1px solid $color;
    }

    .bg-#{$name} {
        background-color: $color;
    }
}
