.root {
    cursor: pointer;
    @include flex;
    border-radius: $br-rounded-sm;
    padding: 0.5rem 1.3rem;

    &.sm {
        padding: 0.25rem 0.65rem;
        p {
            font-size: 0.7rem;
        }
    }

    &.lg {
        padding: 0.7rem 2rem;
        p {
            font-size: 1.3rem;
        }
    }
}
