@keyframes animate {
    from {
        width: 0;
        height: 0;
        opacity: 0.5;
    }

    to {
        width: 300px;
        height: 300px;
        opacity: 0;
    }
}

.root {
    @include flex;
    border-radius: $br-rounded-sm;
    padding: 0.5rem 1.3rem;
    background-color: $gray;
    position: relative;
    color: $black;
    overflow: hidden;

    &.small {
        padding: 0.25rem 0.65rem;
        p {
            font-size: 0.7rem;
        }
    }

    &.large {
        padding: 0.7rem 2rem;
        p {
            font-size: 1.3rem;
        }
    }

    &.primary {
        background-color: $blue;
        color: $white;
        &:not([disabled]):hover {
            background-color: rgba($blue, 0.7);
        }
    }

    &.success {
        background-color: $green;
        color: $white;
        &:not([disabled]):hover {
            background-color: rgba($green, 0.7);
        }
    }

    &.danger {
        background-color: $red;
        color: $white;
        &:not([disabled]):hover {
            background-color: rgba($red, 0.7);
        }
    }

    &.link {
        background-color: transparent;
        color: $black;
        &:not([disabled]):hover {
            background-color: rgba($black, 0.1);
        }
        @include shadow($blur: 2px, $spread: 1px);
    }

    &:not([disabled]):hover {
        background-color: rgba($gray, 0.7);
        @include shadow($blur: 2px, $spread: 1px);
    }

    &:disabled {
        cursor: not-allowed;
        filter: blur(0.9px);
    }

    .ripple {
        position: absolute;
        background-color: #fff;
        transform: translate(-50%, -50%);
        pointer-events: none;
        border-radius: 50%;
        animation: animate linear 1s infinite;
    }
}
