$border-bottom: 0.2rem;

.root {
    .input {
        width: 100%;
        display: block;
        position: relative;
        // background-color: white;
        input {
            background-color: transparent;
            width: 100%;
            border: none;
            border-bottom: $border-bottom solid rgba($gray, $hover-bg * 0.9);
            position: relative;
            z-index: 10;
        }

        &::after {
            content: " ";
            @include edges($top: auto) {
                position: absolute;
            }
            height: $border-bottom;
            @include center;
            z-index: 11;
            width: 0;
            transition: width $duration ease;
        }

        &::before {
            content: attr(data-label);
            @include flex;
            @include edges($right: auto) {
                position: absolute;
            }
            color: $gray;
            transition: all $duration ease;
        }
    }

    .input:has(input:focus) {
        &::before {
            bottom: 100%;
            top: -20%;
            font-size: 0.7rem;
            color: $primary-color;
        }

        &::after {
            background-color: $primary-color;
            width: 100%;
        }
    }

    .filled {
        &::before {
            bottom: 100%;
            top: -20%;
            font-size: 0.7rem;
            color: $primary-color;
        }
    }

    .error {
        font-size: 0.7rem;
        color: $red;

        &.empty {
            color: transparent;
            user-select: none;
        }
    }
}
