$hover-padding: 0.7rem;
$header-height: 4rem;

$nav-gap: 0.7rem;

.container {
    display: grid;
    min-height: 100vh;
    grid-template-rows: $header-height auto;
    grid-template-columns: minmax(75px, 2fr) 11fr;

    & > * {
        padding: 0.7rem;
    }

    .header {
        z-index: 10;
        grid-column: 2 / 4;
        background-color: $third-color;
        color: $white;
        padding-left: 0;

        @include flex($justify: space-between);

        .left {
            .search {
                @include flex($justify: stretch, $align: stretch);

                input {
                    // background-color: $primary-color;
                    background: $primary-color;
                    background: linear-gradient(0, $primary-color 0%, $third-color 100%);
                    border-top-left-radius: $br-rounded-md;
                    color: $white;
                    padding: 0 0.5rem;
                }

                button {
                    border-top-right-radius: $br-rounded-md;
                    // background-color: rgba($primary-color, $hover-bg);
                    background: $primary-color;
                    background: linear-gradient(0, $primary-color 0%, $third-color 100%);
                    padding: 0 0.5rem;
                    @include flex;
                    border-bottom: 0.2rem solid rgba($gray, $hover-bg * 0.9);

                    &:hover {
                        background: rgba($secondary-color, $hover-bg);
                    }
                }
            }
        }

        .right {
            @include flex($gap: 1rem);
            ul {
                @include flex($gap: 1rem);

                button {
                    width: 2rem;
                    height: 2rem;
                    border-radius: 50%;
                    @include flex;

                    &:hover {
                        background-color: rgba($primary-color, $hover-bg);
                    }
                }

                .notifications {
                    button {
                        position: relative;
                        p {
                            // content: attr(data-count);
                            background-color: red;
                            position: absolute;
                            border-radius: 50%;
                            font-size: 0.6rem;
                            font-weight: 900;
                            color: white;
                            z-index: 10;
                            width: 1rem;
                            height: 1rem;
                            top: -1px;
                            left: -2px;
                            @include flex;
                        }
                    }
                }

                .language {
                    position: relative;

                    p {
                        color: $white;
                    }

                    button {
                        padding: 0 0.2rem 0 0.3rem;
                        border: 1px solid transparent;
                        border-radius: $br-rounded-sm;
                        width: 3rem;
                        height: max-content !important;
                        @include flex($justify: space-between);

                        &:hover,
                        &:focus {
                            background-color: transparent;
                            border-color: rgba($primary-color, $hover-bg);
                        }
                    }

                    .language-options {
                        right: 0;
                        top: 50px;
                        position: absolute;
                        background-color: $secondary-color;
                        border-radius: $br-rounded-md;
                        @include shadow($blur: 11px, $spread: 3px, $color: rgba($secondary-color, $hover-bg * 0.5));
                        @include flex($direction: column);

                        &::after {
                            content: " ";
                            position: absolute;
                            background-color: $secondary-color;
                            top: -6px;
                            right: 14px;
                            width: 13px;
                            height: 13px;
                            transform: rotate(45deg);
                            @include shadow($blur: 11px, $spread: 3px, $color: rgba($secondary-color, $hover-bg * 0.5));
                        }

                        li {
                            z-index: 10;
                            cursor: pointer;
                            p {
                                cursor: pointer;
                                text-align: left;
                                font-size: $nav-gap;
                                padding: 0 1rem;
                            }

                            &:hover {
                                background-color: $third-color;
                                border-radius: $br-rounded-md;
                            }
                        }
                    }
                }
            }

            .profile {
                position: relative;

                & > button {
                    @include flex;
                    img {
                        border-radius: 50%;
                    }
                }

                nav {
                    right: 0;
                    top: 50px;
                    position: absolute;
                    background-color: $secondary-color;
                    border-radius: $br-rounded-md;
                    @include shadow($blur: 11px, $spread: 3px, $color: rgba($secondary-color, $hover-bg * 0.5));

                    &::after {
                        content: " ";
                        position: absolute;
                        background-color: $secondary-color;
                        top: -6px;
                        right: 14px;
                        width: 13px;
                        height: 13px;
                        transform: rotate(45deg);
                        @include shadow($blur: 11px, $spread: 3px, $color: rgba($secondary-color, $hover-bg * 0.5));
                    }

                    p,
                    li {
                        white-space: nowrap;
                    }

                    p {
                        padding: 0.7rem 2rem;
                        text-align: center;
                    }

                    ul {
                        @include flex($direction: column, $align: stretch);
                        li {
                            border-top: 1px solid rgba(255, 255, 255, $hover-bg * 0.5);
                            text-align: left;

                            a {
                                width: 100%;
                                color: $white;
                                display: block;
                                padding: 0.2rem $nav-gap;
                                @include flex($justify: flex-start, $gap: $nav-gap);

                                p {
                                    padding: 0;
                                    text-align: left;
                                    font-size: $nav-gap;
                                    flex-grow: 1;
                                    @include flex($justify: flex-start);
                                }

                                &:hover {
                                    text-decoration: none;
                                    background-color: $third-color;
                                    border-radius: $br-rounded-md;

                                    p {
                                        padding-left: $hover-padding;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .nav-bar {
        padding-bottom: 0;
        @include flex($direction: column, $align: stretch);
        grid-row: 1 / 3;
        background-color: $third-color;
        color: $white;

        a {
            color: $white;
            &:hover {
                text-decoration: none;
            }
        }

        .logo {
            margin-bottom: 3rem;
            a {
                @include flex;
                img {
                    max-width: 7.7rem;
                    margin: 0 auto;
                }
            }
        }

        .footer {
            margin-top: auto;
            p {
                font-size: 0.6rem;
                user-select: none;
                text-align: center;
            }
        }

        ul {
            li {
                margin-bottom: 1em;
                .nav-item {
                    border-radius: $br-rounded-md;
                    padding: $hover-bg * 0.5rem 1rem;
                    display: inline-block;
                    width: 100%;
                    @include flex($justify: flex-start, $gap: 1rem);

                    &:hover {
                        background-color: rgba($primary-color, $hover-bg);
                        p {
                            padding-left: $hover-padding;
                        }
                    }

                    &.active {
                        background-color: rgba($primary-color, $hover-bg);
                    }

                    &.disabled {
                        @extend .disabled-link;
                        color: rgba($white, $hover-bg * 0.5);
                    }
                }
            }

            /*
            li:has(> .disabled) {
                position: relative;
                &::before {
                    content: " ";
                    @include edges;
                    z-index: 1;
                }
                span[role="icon"] {
                    visibility: none !important;
                }
            }
            */
        }
    }

    .content {
        background-color: rgba($gray, 0.1);

        overflow-y: scroll;
        max-height: calc(100vh - $header-height);
    }
}

.wrapper {
    .title {
        margin-bottom: 2rem;
        font-size: 2rem;
    }
}
