.container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: minmax(75px, 2fr) 11fr;
    grid-template-rows: 4rem auto;

    & > * {
        padding: 0.7rem;
    }

    .header {
        grid-column: 2 / 4;
        background-color: $third-color;
        color: $white;
        padding-left: 0;

        @include flex($justify: space-between);

        .left {
            .search {
                @include flex($justify: stretch, $align: stretch);

                input {
                    // background-color: $primary-color;
                    background: $primary-color;
                    background: linear-gradient(0, $primary-color 0%, $third-color 100%);
                    border-top-left-radius: $br-rounded-md;
                    color: $white;
                    padding: 0 0.5rem;
                }

                button {
                    border-top-right-radius: $br-rounded-md;
                    // background-color: rgba($primary-color, $hover-bg);
                    background: $primary-color;
                    background: linear-gradient(0, $primary-color 0%, $third-color 100%);
                    padding: 0 0.5rem;
                    @include flex;
                    border-bottom: 0.2rem solid rgba($gray, $hover-bg * 0.9);

                    &:hover {
                        background: rgba($secondary-color, $hover-bg);
                    }
                }
            }
        }

        .right {
            @include flex($gap: 1rem);
            ul {
                @include flex($gap: 1rem);

                button {
                    width: 1.9rem;
                    height: 1.9rem;
                    border-radius: 50%;
                    position: relative;
                    @include flex;
                    & > img {
                        position: absolute;
                    }

                    &:hover {
                        background-color: rgba($primary-color, $hover-bg);
                    }
                }

                .notifications {
                    button {
                        position: relative;
                        span {
                            // content: attr(data-count);
                            background-color: red;
                            position: absolute;
                            border-radius: 50%;
                            font-size: 0.6rem;
                            font-weight: 900;
                            color: white;
                            z-index: 10;
                            width: 1rem;
                            height: 1rem;
                            top: -1px;
                            left: -2px;
                            @include flex;
                        }
                    }
                }
            }

            .profile {
                position: relative;

                & > button {
                    @include flex;
                    img {
                        border-radius: 50%;
                    }
                }

                nav {
                    right: 0;
                    top: 50px;
                    position: absolute;
                    background-color: $secondary-color;
                    border-radius: $br-rounded-md;
                    @include shadow($blur: 11px, $spread: 3px, $color: rgba($secondary-color, $hover-bg * 0.5));

                    &::after {
                        content: " ";
                        position: absolute;
                        background-color: $secondary-color;
                        top: -6px;
                        right: 14px;
                        width: 13px;
                        height: 13px;
                        transform: rotate(45deg);
                        @include shadow($blur: 11px, $spread: 3px, $color: rgba($secondary-color, $hover-bg * 0.5));
                    }

                    p,
                    li {
                        white-space: nowrap;
                    }

                    p {
                        padding: 0.7rem 2rem;
                        text-align: center;
                    }

                    ul {
                        @include flex($direction: column, $align: stretch);
                        li {
                            border-top: 1px solid rgba(255, 255, 255, $hover-bg * 0.5);
                            text-align: left;

                            a {
                                font-size: 0.8rem;
                                color: $white;
                                padding: 0.2rem 1rem;
                                width: 100%;
                                display: inline-block;

                                &:hover {
                                    text-decoration: none;
                                    background-color: $third-color;
                                    padding: 0.2rem 2rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .nav-bar {
        padding-bottom: 0;
        @include flex($direction: column, $align: stretch);
        grid-row: 1 / 3;
        background-color: $third-color;
        color: $white;

        a {
            color: $white;
            &:hover {
                text-decoration: none;
            }
        }

        .logo {
            margin-bottom: 3rem;
            a {
                @include flex;
                img {
                    max-width: 7.7rem;
                    margin: 0 auto;
                }
            }
        }

        .footer {
            margin-top: auto;
            p {
                font-size: 0.6rem;
                user-select: none;
                text-align: center;
            }
        }

        ul {
            li {
                margin-bottom: 1em;
                a,
                span {
                    border-radius: $br-rounded-md;
                    padding: $hover-bg * 0.5rem 1rem;
                    display: inline-block;
                    width: 100%;

                    &:hover {
                        background-color: rgba($primary-color, $hover-bg);
                        padding-left: 1.7rem;
                    }

                    &.active {
                        background-color: rgba($primary-color, $hover-bg);
                    }

                    &.disabled {
                        @extend .disabled-link;
                        color: rgba($white, $hover-bg * 0.5);
                    }
                }
            }
        }
    }

    .content {
        background-color: rgba($gray, 0.1);
    }
}
