.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;

    .listing {
        @extend .app-border;
        border-radius: $br-rounded-sm;

        &:hover {
            @include shadow($blur: 7px, $spread: 1px, $color: rgba(0, 0, 0, 0.3));
        }

        .image {
            position: relative;
            .overlay {
                @extend .overlay;
                z-index: 1;
            }

            &:hover {
                .overlay {
                    background-color: rgba(0, 0, 0, 0.3);
                    @include shadow($blur: 5rem, $spread: 5rem, $color: rgba(0, 0, 0, 0.3), $inset: true);
                }
            }

            img {
                border-radius: $br-rounded-sm;
            }
        }

        .content {
            padding: 0.7rem;
        }
    }
}
